@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Pojištění <small class="text-muted">cvičný projekt</small></h1>
    <h4 class="text-primary">ASP.NET 6</h4>
</div>
<br />
<h2 class="text-primary">Zadání</h2>
<ul>
    <li>Aplikace obsahuje kompletní správu (CRUD) pojištěných (např. "Jan Novák") a jejich pojištění (např. "pojištění bytu"):</li>
    <li>Vytvoření pojištěného</li>
    <li>Vytvoření pojištění</li>
    <li>Zobrazení detailu pojištěného včetně jeho pojištění</li>
    <li>Zobrazení detailu pojištění</li>
    <li>Zobrazení seznamu pojištěných</li>
    <li>Odstranění pojištěného včetně všech jeho pojištění</li>
    <li>Odstranění pojištění</li>
    <li>Editace pojištěného</li>
    <li>Editace pojištění pojištěného</li>
    <li>Dané entity jsou uloženy v SQL databázi</li>
    <li>Aplikace je naprogramována podle dobrých praktik a je plně responzivní</li>
</ul>
<br />

<h2 class="text-primary">Rozšíření</h2>
<ul>
    <li>Aplikace podporuje uživatelské role (pojištěný, administrátor), návrh a implementace, kdo vidí a může editovat jaká data</li>
    <li>Aplikace eviduje pojistné události pojištěných, rovněž pomocí kompletní správy (CRUD)</li>
</ul>
<br />

<h2 class="text-primary">Použité zdroje</h2>
<ul>
    <li>
        Ikony <a href="https://fontawesome.com/v6.0/icons?s=solid%2Cbrands" target="_blank">FontAwesome</a>
    </li>
    <li>
        Bootstrap styling <a href="https://bootswatch.com/superhero/" target="_blank">Bootswatch</a>
    </li>
    <li>
        JavaScriptové hlášky <a href="https://codeseven.github.io/toastr/" target="_blank">Toastr</a>
    </li>
    <li>
        Vyskakovací okna <a href="https://sweetalert.js.org/">SweetAlert</a>
    </li>
    <li>
        Tabulky <a href="https://datatables.net/examples/index" target="_blank">DataTables</a>
    </li>
    <li>
        Textový (WYSIWYG) editor <a href="https://www.tiny.cloud" target="_blank">TinyMCE</a>
    </li>
    <li>
        Info k ASP.NET Core MVC <a href="https://www.udemy.com/course/complete-aspnet-core-21-course/" target="_blank">Udemy tutorial</a><br />
    </li>
</ul>
<br />
<p><a href="https://github.com/Virtualll001/Pojisteni" target="_blank">GitHub</a></p>
