
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Pojištění</h2>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Vytvořit nové pojištění</a>
    </div>
</div>

<br />
<div class="p-4 border rounded bg-white">
    <table id="tblData" class="table table-hover" style="width:100%">
        <thead>
            <tr class="table-primary" >
                <th>Podmínky</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-black">
        </tbody>
    </table>
</div>


@section Scripts{
<script src="~/js/pojistka.js"></script>
}
